@font-face {
  font-family: "AlteHaasGroteskBold";
  src: url("../fonts/AlteHaasGroteskBold.ttf");
  font-weight: bold; }
@font-face {
  font-family: "AlteHaasGroteskRegular";
  src: url("../fonts/AlteHaasGroteskRegular.ttf"); }
/*from 0px -> 550px mobile*/
/*from 551px -> 1000px tablet or mini-laptop*/
/*from 1001px -> 1599px is normal size*/
/*from 1600px -> ~px big-screen*/
.proyectsContainer {
  width: 70%;
  height: 500px;
  overflow: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.7s;
  top: 300vh;
  position: absolute;
  left: calc((100vw / 2) - 35%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  /*for backdrop*/
  backdrop-filter: blur(8px);
  /*not working on firefox*/
  border-radius: 10px;
  /*for backdrop*/
  padding-left: 20px;
  /*for backdrop*/
  box-sizing: border-box;
  /*for backdrop*/
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 550px) {
    .proyectsContainer {
      /*mobile*/
      width: 90%;
      /**/
      left: calc((100vw / 2) - 45%);
      /**/ } }
  .proyectsContainer .proyectsCentering {
    /*this sets a max-width size*/
    height: 500px;
    max-width: 1250px;
    position: relative; }
    .proyectsContainer .proyectsCentering .controlsContainer {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 10%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .proyectsContainer .proyectsCentering .controlsContainer .upArrow, .proyectsContainer .proyectsCentering .controlsContainer .downArrow {
        width: 60%;
        height: 50px;
        background: none;
        border: none;
        opacity: 0.5;
        background-image: url("../icons/arrow-icon.png");
        background-size: cover;
        background-position: center;
        transition: all 0.5s;
        margin: 5px 0px; }
        .proyectsContainer .proyectsCentering .controlsContainer .upArrow:hover, .proyectsContainer .proyectsCentering .controlsContainer .downArrow:hover {
          cursor: pointer; }
      .proyectsContainer .proyectsCentering .controlsContainer .upArrow {
        transform: rotate(180deg); }
        .proyectsContainer .proyectsCentering .controlsContainer .upArrow:hover {
          opacity: 1; }
      .proyectsContainer .proyectsCentering .controlsContainer .downArrow:hover {
        opacity: 1; }
    .proyectsContainer .proyectsCentering ul {
      height: auto;
      width: 90%;
      margin: 0px;
      /*auto-setted*/
      padding: 0px;
      /*auto-setted*/ }
      .proyectsContainer .proyectsCentering ul li {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        @media only screen and (max-width: 1000px) {
          .proyectsContainer .proyectsCentering ul li {
            align-items: flex-start;
            /**/
            justify-content: center;
            /**/ } }
        .proyectsContainer .proyectsCentering ul li .itemContent {
          width: 100%;
          height: 300px;
          display: flex;
          align-items: center; }
          @media only screen and (min-width: 1600px) {
            .proyectsContainer .proyectsCentering ul li .itemContent {
              /*big-screens*/
              height: 400px;
              /**/ } }
          @media only screen and (max-width: 1000px) {
            .proyectsContainer .proyectsCentering ul li .itemContent {
              height: 100%;
              /**/
              flex-direction: column-reverse;
              /**/
              justify-content: center;
              /***/ } }
          .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo {
            height: 100%;
            width: calc(100% - 310px);
            min-width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /*both info sections*/ }
            @media only screen and (min-width: 1600px) {
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo {
                width: calc(100% - 410px);
                /**/ } }
            @media only screen and (max-width: 1000px) {
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo {
                width: 100%;
                /**/
                height: 55%;
                /**/
                min-width: 100px;
                /**/ } }
            .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection {
              height: auto;
              margin: 0px;
              color: #fff;
              /*button info section*/ }
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection h2 {
                margin: 0px;
                /*auto-setted*/
                font-family: "AlteHaasGroteskBold";
                font-size: 25px;
                color: #fff;
                line-height: 17px;
                text-decoration: none; }
                @media only screen and (min-width: 1600px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection h2 {
                    font-family: "AlteHaasGroteskBold";
                    font-size: 34px;
                    color: #fff;
                    line-height: 27px;
                    text-decoration: none;
                    /**/ } }
                @media only screen and (max-width: 1000px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection h2 {
                    font-family: "AlteHaasGroteskBold";
                    font-size: 22px;
                    color: #fff;
                    line-height: 17px;
                    text-decoration: none;
                    /**/ } }
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection p {
                margin: 10px 0px;
                font-family: "AlteHaasGroteskRegular";
                font-size: 18px;
                color: #fff;
                line-height: initial;
                text-decoration: none; }
                @media only screen and (min-width: 1600px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection p {
                    font-family: "AlteHaasGroteskRegular";
                    font-size: 20px;
                    color: #fff;
                    line-height: initial;
                    text-decoration: none;
                    /**/ } }
                @media only screen and (max-width: 1000px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection p {
                    font-family: "AlteHaasGroteskRegular";
                    font-size: 15px;
                    color: #fff;
                    line-height: initial;
                    text-decoration: none;
                    /**/ } }
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem {
                display: inline-block;
                border-radius: 30px;
                padding: 5px 10px;
                background: #aa00ff;
                margin: 3px; }
                @media only screen and (max-width: 1000px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem {
                    padding: 3px 8px;
                    /**/
                    margin: 2px;
                    /**/ } }
                .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div {
                  display: flex;
                  align-items: center; }
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div .techImage {
                    height: 15px;
                    width: 15px;
                    background-image: url("../icons/js-icon.png");
                    background-size: cover;
                    background-position: center;
                    margin-right: 5px; }
                    @media only screen and (min-width: 1600px) {
                      .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div .techImage {
                        height: 18px;
                        /**/
                        width: 18px;
                        /**/ } }
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div h4 {
                    margin: 0px;
                    font-family: "AlteHaasGroteskBold";
                    font-size: 15px;
                    color: #fff;
                    line-height: initial;
                    text-decoration: none; }
                    @media only screen and (min-width: 1600px) {
                      .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div h4 {
                        font-family: "AlteHaasGroteskBold";
                        font-size: 17px;
                        color: #fff;
                        line-height: initial;
                        text-decoration: none;
                        /**/ } }
                    @media only screen and (max-width: 1000px) {
                      .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .proyectTechs .proyectTechsItem div h4 {
                        font-family: "AlteHaasGroteskBold";
                        font-size: 12px;
                        color: #fff;
                        line-height: initial;
                        text-decoration: none;
                        /**/ } }
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .releaseDate {
                font-family: "AlteHaasGroteskBold";
                font-size: 15px;
                color: #fff;
                line-height: initial;
                text-decoration: none; }
                @media only screen and (min-width: 1600px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .releaseDate {
                    font-family: "AlteHaasGroteskBold";
                    font-size: 17px;
                    color: #fff;
                    line-height: initial;
                    text-decoration: none;
                    /**/ } }
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-top: 15px; }
                .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer .proyectsGithubLink {
                  height: 45px;
                  width: 45px;
                  margin-left: 8px;
                  background-image: url("../icons/github-icon.png");
                  background-size: cover;
                  background-position: center; }
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer .proyectsGithubLink:hover {
                    cursor: pointer; }
                  @media only screen and (min-width: 1600px) {
                    .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer .proyectsGithubLink {
                      width: 48px;
                      height: 48px; } }
                  @media only screen and (max-width: 1000px) {
                    .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer .proyectsGithubLink {
                      /*laptop and tablet*/
                      width: 35px;
                      height: 35px; } }
                @media only screen and (max-width: 1000px) {
                  .proyectsContainer .proyectsCentering ul li .itemContent .proyectInfo .proyectInfoSection .btnVisitContainer {
                    /*latop and tablet / mobile*/
                    justify-content: center; } }
          .proyectsContainer .proyectsCentering ul li .itemContent .proyectImage {
            width: 300px;
            height: 300px;
            border-radius: 10px;
            background-image: url("../images/previews/fitnessGymPreviewSmall.png");
            background-size: cover;
            background-position: center;
            margin-left: 10px; }
            @media only screen and (min-width: 1600px) {
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectImage {
                width: 400px;
                /**/
                height: 400px;
                /**/
                margin-left: 10px;
                /**/ } }
            @media only screen and (max-width: 1000px) {
              .proyectsContainer .proyectsCentering ul li .itemContent .proyectImage {
                margin-bottom: 10px;
                /**/
                width: 100%;
                /**/
                height: 35%;
                /**/
                background-image: url("../images/previews/fitnessGymPreviewSmall.png");
                background-size: cover;
                background-position: top;
                /**/
                margin-left: 0px;
                /**/ } }

/*# sourceMappingURL=proyectsContainer.css.map */
