<!--this area, is to show the name of the author at the begining of app-->
		<div class="authorContainer">
			<h1 class="lblAuthorName">ALEJANDRO VAQUERA</h1>
			<h2 class="lblAuthorSkill">FRONTEND DEVELOPER</h2>
		</div>
