<!--background color switch engine-->
<div class="colorSwitchComponent">
	<div class="colorSwitchContainer">

		<!--images of the sun and the moon-->
		<div class="colorSwitchBackContainer">
			<img src="../public/icons/sun-icon.png" alt="sun">
			<img src="../public/icons/moon-icon.png" alt="moon">
		</div>

		<!--little ball that toggles-->
		<div id="switchBallContainer" class="switchBallContainer">
			<div id="switchBall" class="switchBall"></div>
		</div>

	</div>
</div>
