<!--show a contact form and our social media-->
<div id="contactContainer" class="container contactContainer rellax">

	<!--contain and center all content-->
	<div class="experienceCentering">

		<!--the form contact-->
		<form id="contactForm" class="contactForm" action="/send-email" method="POST">
			<div class="formGroup">
				<input type="text" name="email" placeholder="your email">
			</div>
			<div class="formGroup" >
				<textarea placeholder="your message" id="txtComment" name="message"></textarea>
			</div>
			<div class="formGroup">
				<button class="btnMain" type="submit">Send</button>
			</div>
		</form>

		<!--social media list-->
		<ul class="socialList">
			<div class="socialContainer">
				<li>
					<a href="https://www.linkedin.com/in/alejandro-vaquera-lopez-2160481b2/" target="_blank">
						<img src="./public/images/contact/linkedin-logo.png" alt="linkedin link">
					</a>
				</li>
				<li>
					<a href="https://github.com/AlejandroVaqueraLopez" target="_blank">
						<img src="./public/images/contact/github-logo.png" alt="github link">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/alejandrovaqueral/" target="_blank">
						<img src="./public/images/contact/instagram-logo.png" alt="Instagram link">
					</a>
				</li>
				<li>
					<a href="https://codepen.io/alejandrovaqueralopez" target="_blank">
						<img src="./public/images/contact/codepen-logo.png" alt="CodePen link">
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCgT8WUCSdrYMirZZzRFlIHw" target="_blank">
						<img src="./public/images/contact/youtube-logo.png" alt="Youtube link">
					</a>
				</li>
				<li>
					<a href="https://www.hackerrank.com/alejandrovaquer1" target="_blank">
						<img src="./public/images/contact/hackerrank-logo.png" alt="HackerRank link">
					</a>
				</li>
			</div>
		</ul>

	</div>
</div>
