<!--shows a little bit about me and my hobbies-->
<div id="profileContainer" class="container profileContainer rellax">

	<!--to center all content-->
	<div class="profileContent">
		<div class="profileInfo">
			<p>I am <b>Alejandro Vaquera López</b>, I am a 19 years old <b>frontend developer</b> who lives in Tijuana BC México, I do tech proyects since <b>3 years ago</b>, I never stop learning new technologies and reading about the biggest tech companies.</p>
			<p class="profileInfo">
				I love to build whatever my <b>crazy mind</b> thinks as much as I love <b>metal music</b> and <b>videogames</b>.
			</p>
		</div>
		<div class="profileImageContainer profImageHoverAnim"><!--has an 3d animation-->
			<img src="../public/images/profile/rounded-profile.png" alt="profile image">
		</div>
	</div>

</div>
