<!--shows all the schools that we went to-->
<div id="scholarshipContainer" class="container scholarshipContainer rellax">
	<!--contain and center all the data-->
	<div class="centeringContainer">

		<!--list of elements-->
		<ul id="scholarshipList" class="scholarshipList">
			<!--here we auto-generate the images-->
		</ul>

	</div>
</div>
